#File extensions to ignore
*.gz
*.swp

#files to ignore


#Folders to ignore
data/*
test/

# Don't ignore...
!data/county_tract_total_covered_population.csv
!data/tract_total_covered_populations.csv

#Mac clean-up
*.ds_store
__pycache__
